<?xml version="1.0"?>
<!--
    /**
    * @author     Kristof Ringleff
    * @package    Fooman_EmailAttachments
    * @copyright  Copyright (c) 2015 Fooman Limited (http://www.fooman.co.nz)
    *
    * For the full copyright and license information, please view the LICENSE
    * file that was distributed with this source code.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales_email>
            <order>
                <attachpdf>0</attachpdf>
            </order>
            <order_comment>
                <attachpdf>0</attachpdf>
            </order_comment>
            <invoice>
                <attachpdf>0</attachpdf>
            </invoice>
            <invoice_comment>
                <attachpdf>0</attachpdf>
            </invoice_comment>
            <shipment>
                <attachpdf>0</attachpdf>
            </shipment>
            <shipment_comment>
                <attachpdf>0</attachpdf>
            </shipment_comment>
            <creditmemo>
                <attachpdf>0</attachpdf>
            </creditmemo>
            <creditmemo_comment>
                <attachpdf>0</attachpdf>
            </creditmemo_comment>
        </sales_email>
    </default>
</config>
