<?xml version="1.0"?>
<!--
    /**
    * @author     Kristof Ringleff
    * @package    Fooman_EmailAttachments
    * @copyright  Copyright (c) 2015 Fooman Limited (http://www.fooman.co.nz)
    *
    * For the full copyright and license information, please view the LICENSE
    * file that was distributed with this source code.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_email">
            <group id="order">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <frontend_model>Fooman\EmailAttachments\Block\Config\PrintOrderPdf</frontend_model>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Order as PDF</label>
                    <tooltip>When set to Yes, your order pdf document will be
                        automatically attached to the order confirmation email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="order_comment">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <frontend_model>Fooman\EmailAttachments\Block\Config\PrintOrderPdf</frontend_model>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Order as PDF</label>
                    <tooltip>When set to Yes, your order pdf document will be
                        automatically attached to the order confirmation email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="invoice">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Attach Invoice as PDF</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>When set to Yes, your invoice pdf document will be
                        automatically attached to the invoice email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="invoice_comment">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Attach Invoice as PDF</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>When set to Yes, your invoice pdf document will be
                        automatically attached to the invoice email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="shipment">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Attach Packing Slip as PDF</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>When set to Yes, your packing slip pdf document will be
                        automatically attached to the shipment email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="shipment_comment">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Attach Invoice as PDF</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip>When set to Yes, your packing slip pdf document will be
                        automatically attached to the shipment email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="creditmemo">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Credit Memo as PDF</label>
                    <tooltip>When set to Yes, your packing slip pdf document will be
                        automatically attached to the shipment comment email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
            <group id="creditmemo_comment">
                <field id="attachpdf"
                       translate="label"
                       type="select"
                       sortOrder="200"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Credit Memo as PDF</label>
                    <tooltip>When set to Yes, your packing slip pdf document will be
                        automatically attached to the shipment comment email.</tooltip>
                </field>
                <field id="attachagreement"
                       translate="label"
                       type="select"
                       sortOrder="250"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Attach Terms and Conditions</label>
                    <tooltip><![CDATA[When set to Yes, your Terms and Conditions
                                (from <b>Stores &gt; Terms and Conditions</b>) will be automatically attached to the email.]]></tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
