<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- replacing core preferences -->
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder"
                type="Fooman\EmailAttachments\Model\MailTransportBuilder"/>
    <preference for="\Magento\Sales\Model\Order\Email\SenderBuilder"
                type="Fooman\EmailAttachments\Model\SenderBuilder"/>

    <preference for="\Magento\Sales\Model\Order\Email\Sender\OrderSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\OrderSender"/>
    <preference for="\Magento\Sales\Model\Order\Email\Sender\OrderCommentSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\OrderCommentSender"/>

    <preference for="\Magento\Sales\Model\Order\Email\Sender\InvoiceSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\InvoiceSender"/>
    <preference for="\Magento\Sales\Model\Order\Email\Sender\InvoiceCommentSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\InvoiceCommentSender"/>

    <preference for="\Magento\Sales\Model\Order\Email\Sender\ShipmentSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\ShipmentSender"/>
    <preference for="\Magento\Sales\Model\Order\Email\Sender\ShipmentCommentSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\ShipmentCommentSender"/>

    <preference for="\Magento\Sales\Model\Order\Email\Sender\CreditmemoSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\CreditmemoSender"/>
    <preference for="\Magento\Sales\Model\Order\Email\Sender\CreditmemoCommentSender"
                type="Fooman\EmailAttachments\Model\Email\Sender\CreditmemoCommentSender"/>

    <!-- module introduced preferences -->
    <preference for="Fooman\EmailAttachments\Model\Api\AttachmentContainerInterface"
                type="Fooman\EmailAttachments\Model\AttachmentContainer"/>

    <virtualType name="fooman_emailattachments_order_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Fooman\PrintOrderPdf\Model\Pdf\Order</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendOrderObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_order_pdf_renderer</argument>
        </arguments>
    </type>


    <virtualType name="fooman_emailattachments_invoice_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Magento\Sales\Model\Order\Pdf\Invoice</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendInvoiceObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_invoice_pdf_renderer</argument>
        </arguments>
    </type>

    <virtualType name="fooman_emailattachments_shipment_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Magento\Sales\Model\Order\Pdf\Shipment</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendShipmentObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_shipment_pdf_renderer</argument>
        </arguments>
    </type>

    <virtualType name="fooman_emailattachments_creditmemo_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Magento\Sales\Model\Order\Pdf\Creditmemo</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendCreditmemoObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_creditmemo_pdf_renderer</argument>
        </arguments>
    </type>
</config>
