<?xml version="1.0"?>
<!--
    /**
    * @author     Kristof Ringleff
    * @package    Fooman_EmailAttachments
    * @copyright  Copyright (c) 2015 Fooman Limited (http://www.fooman.co.nz)
    *
    * For the full copyright and license information, please view the LICENSE
    * file that was distributed with this source code.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--Order Emails-->
    <event name="fooman_emailattachments_before_send_order">
        <observer name="fooman_emailattachments_before_send_order_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendOrderObserver"/>
    </event>
    <event name="fooman_emailattachments_before_send_order_comment">
        <observer name="fooman_emailattachments_before_send_order_comment_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendOrderCommentObserver"/>
    </event>

    <!--Invoice Emails-->
    <event name="fooman_emailattachments_before_send_invoice">
        <observer name="fooman_emailattachments_before_send_invoice_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendInvoiceObserver"/>
    </event>
    <event name="fooman_emailattachments_before_send_invoice_comment">
        <observer name="fooman_emailattachments_before_send_invoice_comment_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendInvoiceCommentObserver"/>
    </event>

    <!--Shipment Emails-->
    <event name="fooman_emailattachments_before_send_shipment">
        <observer name="fooman_emailattachments_before_send_shipment_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendShipmentObserver"/>
    </event>
    <event name="fooman_emailattachments_before_send_shipment_comment">
        <observer name="fooman_emailattachments_before_send_shipment_comment_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendShipmentCommentObserver"/>
    </event>

    <!--Credit Memo Emails-->
    <event name="fooman_emailattachments_before_send_creditmemo">
        <observer name="fooman_emailattachments_before_send_creditmemo_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendCreditmemoObserver"/>
    </event>
    <event name="fooman_emailattachments_before_send_creditmemo_comment">
        <observer name="fooman_emailattachments_before_send_creditmemo_comment_observer"
                  instance="Fooman\EmailAttachments\Observer\BeforeSendCreditmemoCommentObserver"/>
    </event>

</config>
